<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.library.nanostudio.afmplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:label">
        <service
            android:name=".AfmPlayerService" />
        <service android:name=".AfmKillNotificationsService"></service>
        <receiver
            android:name=".AfmPlayerNotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>